<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Fragment>
    <!-- https://tauri.app/v1/guides/building/windows/#extending-the-installer-with-wix-fragments -->

    <!-- Define the directory for the redistributable installer -->
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="VCREDISTDIR" Name="VCRedist">
        <Component Id="VCRedist_x64" Guid="234e493a-d836-4505-a0d1-884ff6606261">
          <File Source="D:\a\universe\universe\src-tauri\windows\vc_redist.x64.exe" KeyPath="yes" />
        </Component>
      </Directory>
    </DirectoryRef>

    <!-- Install the redistributable file -->
    <Feature Id="ProductFeature" Title="Main Feature" Level="1">
      <ComponentRef Id="VCRedist_x64" />
    </Feature>

    <!-- Registry search to check if the redistributable is already installed -->
    <Property Id="VCREDIST_X64_INSTALLED">
      <RegistrySearch Id="VCREDIST_X64_REGISTRY"
                       Root="HKLM"
                       Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\X64"
                       Name="Installed"
                       Type="raw" />
    </Property>

    <!-- Custom action to install the redistributable -->
    <CustomAction Id="InstallVCRedist_x64"
                  FileKey="vc_redist.x64.exe"
                  Execute="deferred"
                  ExeCommand="/quiet /norestart"
                  Return="check" />
            <!-- Impersonate="no" -->

    <!-- Conditional installation based on the registry check -->
    <Condition Message="Visual C++ Redistributable x64 is already installed.">
      <![CDATA[VCREDIST_X64_INSTALLED]]>
    </Condition>

    <InstallExecuteSequence>
      <!-- Run the custom action only if the redistributable is not installed -->
      <Custom Action="InstallVCRedist_x64" Before="InstallFinalize">
        <![CDATA[NOT(REMOVE OR VCREDIST_X64_INSTALLED)]]>
      </Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
